.note {
  background-color: #fef68a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 170px;
  justify-content: space-between;
  padding: 10px;
}

.note-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}